:root {
  --color-completed: #3b82f6;
  --color-today: #f97316;
  --color-remaining: #e5e7eb;
}

* {
  box-sizing: border-box
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


h1 {
  font-size: clamp(2rem, calc(10vw+1rem), 4rem);
  margin: 0 0 1rem 0;
}

h2 {
  font-size: clamp(1rem, calc(1vw+1rem), 2rem);
  margin: 1rem 0 0 0;
}

.dots {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12px, 1fr));
  gap: clamp(0.5rem, 1vw, 1rem);
  align-content: start;
}

.dot {
  aspect-ratio: 1/1;
  --dot-color: var(--color-remaining);
  background-color: var(--dot-color);
  border-radius: 50%;
}

.dot.past {
  --dot-color: var(--color-completed);
}

.dot.today {
  --dot-color: var(--color-today);
}
